<div ng-show="!loading" class="col-md-2 left-wrapper" id="targets-left">
  <!-- saker och ting här -->
</div>
<div ng-show="!loading && (!group.my_role.can_see_target_overview && !isCurrentUser)" class="col-md-8 main-wrapper">
  <div ng-include="'common/partials/missingpermission.tpl.html'"></div>
</div>
<div ng-show="!loading && (group.my_role.can_see_target_overview || isCurrentUser)" class="col-md-8 main-wrapper">

  <div ng-include="'common/partials/pageheader-allLoopsByTag.tpl.html'"></div>

  <div class="lmpage-content" ng-if="loops.length > 0">
    <lm-feed-entry class="entry-container" ng-repeat="entry in loops | orderBy:'-created'" entry="entry"></lm-feed-entry>
    <lm-spinner ng-show="loadingLoops"></lm-spinner>
  </div>

  <div class="lmpage-content" ng-if="!loadingLoops && loops.length > 0">
    <div class="lmpage-text">
      <div class="text-larger-2 text-center capitalize" translate="v3.modules.targets.no_more_loops" translate-values="{tagname: target.name}"></div>
    </div>
  </div>

  <div class="lmpage-content" ng-if="!loadingLoops && loops.length === 0">
    <div class="lmpage-text">
      <div class="text-larger-2 text-center capitalize" translate="v3.modules.targets.no_loops_for_tag" translate-values="{tagname: target.name}"></div>
    </div>
  </div>
</div>
<!-- <div ui-view="sidebar" ng-if="!loading" class="col-md-3 sidebar-wrapper" id="group-sidebar"></div> -->
