<div class="col-md-2 left-wrapper" id="targets-left">
  <!-- saker och ting här -->
</div>
<div class="col-md-8 main-wrapper" keep-scroll-pos>
  <lm-spinner ng-if="loading"></lm-spinner>

  <div ng-repeat="group in groups" ng-if="!loading">

    <!-- BUTTON HEADER -->
    <div class="lmpage-header subheader-first lmpage-header-with-button">
      <div class="text pointer" ng-click="toggleDiv(group._id); $root.rememberOpenState(group._id)">
        <span ng-show="$root.keepOpen.indexOf(group._id) > -1" class="fa fa-caret-down text-larger-3"></span>
        <span ng-show="$root.keepOpen.indexOf(group._id) === -1" class="fa fa-caret-right text-larger-3"></span>
        <span class="text-larger-1">
          {{ group.name | capitalize }}
          <i>
            <span ng-if="group.numberOfMandatoryTargets === 1">({{ group.numberOfMandatoryTargets }} {{ "v3.shared.target" | translate}})</span>
            <span ng-if="group.numberOfMandatoryTargets !== 1">({{ group.numberOfMandatoryTargets }} {{ "v3.shared.targets" | translate}})</span>
          </i>
        </span>
      </div>
      <div class="text-right">
        <span class="text-smaller-1 pull-right padding-right-larger-1">
          <div><span class="lmicon-role margin-right-normal"></span>{{ group.my_role.name | capitalize }}</div>
          <div class="text-bold" ng-if="group.isAdmin">{{ "v3.shared.admin" | translate | capitalize }}</div>
        </span>
      </div>
      <div class="button" ng-if="group.my_role.can_complete_target && group.targetsCompleted < group.targets_.length" ui-sref="loops.new({gid: group._id, type: 'reflection', returnToCaller: true})">
        <span class="lmicon-loop-add icon padding-normal text-larger-3"></span>
      </div>
      <div class="button-check" ng-if="group.my_role.can_complete_target && group.targetsCompleted >= group.targets_.length">
        <span class="lmicon-check icon padding-normal text-larger-3"></span>
      </div>
    </div>

    <div class="lmpage-content" ng-class="{'lmhidden': $root.keepOpen.indexOf(group._id) === -1}" id="{{ group._id }}">
      <span class="lmpage-text">
        <!-- BUTTONS LOOPER -->
        <span ng-if="group.my_role.can_complete_target">
          <span class="col-md-offset-3 col-md-3 padding-horizontal-larger-1">
            <button class="button-blue-flat full-width padding-larger-1 padding-horizontal-larger-2" ui-sref="loops.new({gid: group._id, type: 'reflection', returnToCaller: true})">
              <span class="text-larger-2"><span class="lmicon-loop-add margin-right-normal"></span>{{ "v3.modules.targets.button_free_loop" | translate | capitalize }}</span>
            </button>
          </span>
          <span class="col-md-3 padding-horizontal-larger-1">
            <button class="button-bright-flat full-width padding-larger-1 padding-horizontal-larger-2" ui-sref="group.default({gid: group._id})">
              <span class="text-larger-2"><span class="lmicon-group margin-right-normal"></span>{{ "v3.modules.targets.button_group" | translate | capitalize }}</span>
            </button>
          </span>
        </span>
        <!-- BUTTONS LEEDER -->
        <span ng-if="group.my_role.can_create_target && group.type === 'hierarchial'">
          <span class="col-md-offset-4 col-md-4 padding-horizontal-larger-1">
            <button class="button-bright-flat full-width padding-larger-1 padding-horizontal-larger-2" ui-sref="group.default({gid: group._id})">
              <span class="text-larger-2"><span class="lmicon-group margin-right-normal"></span>{{ "v3.modules.targets.button_group" | translate | capitalize }}</span>
            </button>
          </span>
        </span>
      </span>

      <h3 class="margin-left-normal">
        {{ "v3.shared.targets" | translate | capitalize }}
        <span ng-if="group.my_role.can_create_target" class="text-normal margin-left-larger-1">
          <a href ui-sref="targets.manageTarget({gid: group._id, mode: 'create', type: 'target', returnToCaller: true})" class="blue-highlight">
            <span class="fa fa-plus"></span>
            {{ "v3.modules.targets.new_target" | translate | capitalize}}
          </a>
        </span>
      </h3>
      <span ng-if="!group.hasTargets" class="text-center text-italic full-width">
        {{ "v3.modules.targets.no_targets" | translate | capitalize}}
      </span>

      <span class="lmpage-sort-buttons" ng-if="group.hasTargets">
        <span class="header">{{ "v3.modules.targets.sort_by" | translate | capitalize }}</span>
        <a href ng-click="orderBy('targets_', 'created', false, group._id)">{{ "v3.modules.targets.sort_created" | translate | capitalize }}</a>
        <a href ng-click="orderBy('targets_', 'name', false, group._id)">{{ "v3.modules.targets.sort_name" | translate | capitalize }}</a>
        <a href ng-click="orderBy('targets_', 'members_finished', true, group._id)" ng-if="group.my_role.can_see_target_overview"><span class="lmicon-group margin-right-normal"></span>{{ "v3.modules.targets.sort_completion" | translate | capitalize }}</a>
        <a href ng-click="orderBy('targets_', 'my_completion_percentage', true, group._id)" ng-if="group.my_role.can_complete_target"><span class="lmicon-user margin-right-normal"></span>{{ "v3.modules.targets.sort_completion" | translate | capitalize }}</a>
      </span>

      <span class="lmpage-legend text-smaller-1 text-right" ng-if="group.hasTargets && group.my_role.can_complete_target">
        <span class="total margin-right-normal"></span>{{ "v3.modules.targets.expected" | translate | capitalize}}
        <span class="completed margin-right-normal"></span>{{ "v3.modules.targets.approved" | translate | capitalize}}
        <span class="pending margin-right-normal"></span>{{ "v3.modules.targets.pending" | translate | capitalize}}
      </span>

      <div class="border-top"></div>
      <div lm-target ng-repeat="target in group.targets_ | filter:{is_target: true}" gid="group._id" target="target" compact-view="true" permissions="group.my_role"></div>
    </div>
  </div>
</div>
<!-- <div ui-view="sidebar" ng-if="!loading" class="col-md-3 sidebar-wrapper" id="group-sidebar"></div> -->
