<div ng-if="!loading" class="col-md-2 left-wrapper" id="group-left">
  <!-- saker och ting här -->
</div>
<div ng-if="!loading && !group.isMember" class="col-md-8 main-wrapper">
  <div ng-include="'common/partials/missingpermission.tpl.html'"></div>
</div>
<div ng-if="!loading && group.isMember" class="col-md-8 main-wrapper">

  <!-- GROUP -->
  <div class="lmpage-header subheader-first lmpage-header-with-button">
    <span class="text">
      <span class="lmicon-group margin-right-normal"></span>
      <span class="text-larger-1">
        {{ group.name | capitalize }}
      </span>
    </span>
    <span class="text-right">
      <span class="text-smaller-1 pull-right padding-right-larger-1">
        <div><span class="lmicon-role margin-right-normal"></span>{{ group.my_role.name | capitalize }}</div>
        <div class="text-bold" ng-if="group.isAdmin">{{ "v3.shared.admin" | translate | capitalize }}</div>
      </span>
    </span>
    <div class="button" ng-if="group.my_role.can_complete_target && targetsCompleted < targets.length" ui-sref="loops.new({gid: group._id, type: 'reflection', returnToCaller: true})">
      <span class="lmicon-loop-add icon padding-normal text-larger-3"></span>
    </div>
    <div class="button-check" ng-if="group.my_role.can_complete_target && targetsCompleted >= targets.length">
      <span class="lmicon-check icon padding-normal text-larger-3"></span>
    </div>
  </div>

  <!-- TARGETS -->
  <div class="lmpage-header subheader-second">
    <span class="lmicon-target margin-right-normal"></span><span class="text-larger-1">{{ "v3.modules.targets.targets_and_tags" | translate | capitalize }}</span>
  </div>

  <!-- BUTTONS -->
  <div class="lmpage-content" id="group-targets">
    <lm-spinner ng-show="loadingTargets"></lm-spinner>

    <!-- BUTTONS LOOPER -->
    <span ng-if="group.my_role.can_complete_target">
      <div class="col-md-offset-3 col-md-3 padding-larger-1">
        <button class="button-blue-flat full-width padding-larger-1 padding-horizontal-larger-2 margin-top-larger-1" ui-sref="loops.new({gid: group._id, type: 'reflection', returnToCaller: true})">
          <span class="text-larger-2"><span class="lmicon-loop-add margin-right-normal"></span>{{ "v3.modules.targets.button_free_loop" | translate | capitalize }}</span>
        </button>
      </div>
      <div class="col-md-3 padding-larger-1">
        <button class="button-bright-flat full-width padding-larger-1 padding-horizontal-larger-2 margin-top-larger-1" ui-sref="group.default({gid: group._id})">
          <span class="text-larger-2"><span class="lmicon-group margin-right-normal"></span>{{ "v3.modules.targets.button_group" | translate | capitalize }}</span>
        </button>
      </div>
    </span>
    <!-- BUTTONS LEEDER -->
    <span ng-if="group.my_role.can_create_target && group.type === 'hierarchial'">
      <div class="col-md-offset-4 col-md-4 padding-larger-1">
        <button class="button-bright-flat full-width padding-larger-1 padding-horizontal-larger-2 margin-top-larger-1" ui-sref="group.default({gid: group._id})">
          <span class="text-larger-2"><span class="lmicon-group margin-right-normal"></span>{{ "v3.modules.targets.button_group" | translate | capitalize }}</span>
        </button>
      </div>
    </span>

    <!-- TARGETS LIST -->
    <span class="lmpage-content">
      <h3 class="margin-left-normal">
        {{ "v3.shared.targets" | translate | capitalize }}
        <span ng-if="group.my_role.can_create_target" class="text-normal margin-left-larger-1">
          <a href ui-sref="targets.manageTarget({gid: group._id, mode: 'create', type: 'target', returnToCaller: true})" class="blue-highlight">
            <span class="fa fa-plus"></span>
            {{ "v3.modules.targets.new_target" | translate | capitalize}}
          </a>
        </span>
      </h3>
      <span ng-if="!hasTargets" class="text-center text-italic full-width">
        {{ "v3.modules.targets.no_targets" | translate | capitalize}}
      </span>
      <span class="lmpage-sort-buttons" ng-if="!loadingTargets && hasTargets">
        <span class="header">{{ "v3.modules.targets.sort_by" | translate | capitalize }}</span>
        <a href ng-click="orderBy('targets', 'created', false)">{{ "v3.modules.targets.sort_created" | translate | capitalize }}</a>
        <a href ng-click="orderBy('targets', 'name', false)">{{ "v3.modules.targets.sort_name" | translate | capitalize }}</a>
        <a href ng-click="orderBy('targets', 'members_finished', true)" ng-if="group.my_role.can_see_target_overview"><span class="lmicon-group margin-right-normal"></span>{{ "v3.modules.targets.sort_completion" | translate | capitalize }}</a>
        <a href ng-click="orderBy('targets', 'my_completion_percentage', true)" ng-if="group.my_role.can_complete_target"><span class="lmicon-user margin-right-normal"></span>{{ "v3.modules.targets.sort_completion" | translate | capitalize }}</a>
      </span>
      <span class="lmpage-legend text-smaller-1 text-right" ng-if="!loadingTargets && hasTargets && group.my_role.can_complete_target">
        <span class="total margin-right-normal"></span>{{ "v3.modules.targets.expected" | translate | capitalize}}
        <span class="completed margin-right-normal"></span>{{ "v3.modules.targets.approved" | translate | capitalize}}
        <span class="pending margin-right-normal"></span>{{ "v3.modules.targets.pending" | translate | capitalize}}
      </span>
      <div class="border-top"></div>
      <div lm-target ng-repeat="target in targets" gid="group._id" target="target" compact-view="true" permissions="group.my_role"></div>
    </span>

    <!-- TAGS LIST -->
    <span class="lmpage-content">
      <h3 class="margin-left-normal">
        {{ "v3.shared.tags" | translate | capitalize }}
        <span ng-if="group.my_role.can_create_target" class="text-normal margin-left-larger-1">
          <a href ui-sref="targets.manageTarget({gid: group._id, mode: 'create', type: 'tag', returnToCaller: true})" class="blue-highlight">
            <span class="fa fa-plus"></span>
            {{ "v3.modules.targets.new_tag" | translate | capitalize}}
          </a>
        </span>
      </h3>
      <span class="lmpage-sort-buttons" ng-if="hasTags">
        <span class="header">{{ "v3.modules.targets.sort_by" | translate | capitalize }}</span>
        <a href ng-click="orderBy('tags', 'created', false)">{{ "v3.modules.targets.sort_created" | translate | capitalize }}</a>
        <a href ng-click="orderBy('tags', 'name', false)">{{ "v3.modules.targets.sort_name" | translate | capitalize }}</a>
        <a href ng-click="orderBy('tags', 'group_completed_count', true)" ng-if="group.my_role.can_see_target_overview"><span class="lmicon-group margin-right-normal"></span>{{ "v3.modules.targets.sort_usage" | translate | capitalize }}</a>
        <a href ng-click="orderBy('tags', 'my_completed_count', true)" ng-if="group.my_role.can_complete_target"><span class="lmicon-user margin-right-normal"></span>{{ "v3.modules.targets.sort_usage" | translate | capitalize }}</a>
      </span>
      <span ng-if="!hasTags" class="text-center text-italic full-width">
        {{ "v3.modules.targets.no_tags" | translate | capitalize}}
      </span>
      <div class="border-top"></div>
      <div lm-target ng-repeat="tag in tags" gid="group._id" target="tag" compact-view="true" permissions="group.my_role"></div>
    </span>
  </div>
</div>
