<div ng-show="!loading && !group.my_role.can_create_target">
  <div ng-include="'common/partials/wrongrole.tpl.html'"></div>
</div>

<div ng-if="!loading" class="col-md-2 left-wrapper" id="loop-left">
  <!-- saker och ting här -->
</div>
<div ng-show="!loading && group.my_role.can_create_target" class="col-md-8 main-wrapper">
  <!-- GROUP -->
  <span class="lmpage-header subheader-first">
    <span class="text">
      <a href ui-sref="targets.group({gid: group._id})">
        <span class="lmicon-group margin-right-normal"></span>
        <span class="text-larger-1">
          {{ group.name | capitalize }}
        </span>
      </a>
    </span>
    <span class="text-right">
      <span class="text-smaller-1 pull-right">
        <div><span class="lmicon-role margin-right-normal"></span>{{ group.my_role.name | capitalize }}</div>
        <div class="text-bold" ng-if="group.isAdmin">{{ "v3.shared.admin" | translate | capitalize }}</div>
      </span>
    </span>
  </span>

  <!-- FORM -->
  <form class="lmform" name="form" ng-submit="saveTarget(form, targetData)" ng-model="targetData" novalidate>
    <div class="lmpage-header subheader-second">
      <span class="text-larger-1">
        <span ng-if="type === 'target'"><span class="lmicon-target margin-right-normal"></span>{{ "v3.modules.targets.new.target_details" | translate | capitalize }}</span>
        <span ng-if="type === 'tag'"><span class="fa fa-tag margin-right-normal"></span>{{ "v3.modules.targets.new.tag_details" | translate | capitalize }}</span>
      </span>
    </div>
    <div class="lmpage-content margin-top-larger-1">
      <div class="no-padding" ng-class="{'col-md-6': type === 'target', 'col-md-12': type === 'tag'}">
        <div class="lmform-header-light">
          <span ng-if="type === 'target'">{{ "v3.modules.targets.new.target_name" | translate | capitalize }}</span>
          <span ng-if="type === 'tag'">{{ "v3.modules.targets.new.tag_name" | translate | capitalize }}</span>
          <small ng-show="form.$submitted && form.name.$error.required">{{ "v3.modules.targets.new.required" | translate | capitalize }}</small>
          <!-- <span class="lmicon-help lmform-helpicon text-larger-1" ng-click="toggleDiv('name-help')"></span>
          <span class="lmform-helptext text-smaller-1" id="name-help">
            massa hjälpande text och så du vet. massa hjälpande text och så du vet. massa hjälpande text och så du vet.<br> massa hjälpande text och så du vet.
          </span> -->
        </div>
        <div class="lmform-content">
          <input ng-minlength="2" ng-maxlength="40" name="name" ng-model="targetData.name" required />
          <small ng-show="form.name.$dirty && (form.name.$error.minlength || form.name.$error.maxlength)">{{ "v3.modules.targets.new.too_short_or_too_long" | translate | capitalize }}</small>
        </div>
        <div class="lmform-header-light">
          {{ "v3.modules.targets.new.description" | translate | capitalize }}
          <!-- <span class="lmicon-help lmform-helpicon text-larger-1" ng-click="toggleDiv('desc-help')"></span>
          <span class="lmform-helptext text-smaller-1" id="desc-help">
            massa hjälpande text och så du vet. massa hjälpande text och så du vet. massa hjälpande text och så du vet.<br> massa hjälpande text och så du vet.
          </span> -->
        </div>
        <div class="lmform-content">
          <textarea name="desc" ng-model="targetData.desc"></textarea>
        </div>
      </div>

      <div class="col-md-6 no-padding" ng-if="type === 'target'">
        <div class="lmform-header-light">
          {{ "v3.modules.targets.new.count" | translate | capitalize }}
          <!-- <span class="lmicon-help lmform-helpicon text-larger-1" ng-click="toggleDiv('count-help')"></span>
          <span class="lmform-helptext text-smaller-1" id="count-help">
            massa hjälpande text och så du vet. massa hjälpande text och så du vet. massa hjälpande text och så du vet.<br> massa hjälpande text och så du vet.
          </span> -->
        </div>
        <div class="lmform-content">
          <span class="lmform-counter">
            <button type="button" class="subtract" ng-click="targetData.count = targetData.count-1"><span class="glyphicon glyphicon-minus"></span></button>
            <button type="button" class="add" ng-click="targetData.count = targetData.count+1"><span class="glyphicon glyphicon-plus"></span></button>
            <span class="value" ng-model="targetData.count">{{ targetData.count }}</span>
          </span>
          <small ng-show="showCountLimitInfo" class="">{{ "v3.modules.targets.new.count_too_low" | translate | capitalize }}</small>
        </div>
        <div class="lmform-header-light">
          {{ "v3.modules.targets.new.followup" | translate | capitalize }}
          <!-- <span class="lmicon-help lmform-helpicon text-larger-1" ng-click="toggleDiv('followup-help')"></span>
          <span class="lmform-helptext text-smaller-1" id="followup-help">
            massa hjälpande text och så du vet. massa hjälpande text och så du vet. massa hjälpande text och så du vet.<br> massa hjälpande text och så du vet.
          </span> -->
        </div>
        <div class="lmform-content">
          <input name="followup" ng-model="targetData.followup" />
        </div>
        <div class="lmform-content">
          <input type="checkbox" name="is_target" id="needs_approval" ng-model="targetData.needs_approval" />
          <label for="needs_approval"><span></span>{{ "v3.modules.targets.new.needs_approval" | translate | capitalize }}</label>
          <!-- <span class="lmicon-help lmform-helpicon text-larger-1" ng-click="toggleDiv('approval-help')"></span>
          <span class="lmform-helptext text-smaller-1" id="approval-help">
            massa hjälpande text och så du vet. massa hjälpande text och så du vet. massa hjälpande text och så du vet.<br> massa hjälpande text och så du vet.
          </span> -->
        </div>

        <!-- ADD FILE -->
        <div class="lmform-header">
          <label ng-show="targetData.files.length < numberOfFilesAllowed || numberOfFilesAllowed === -1" for="fileInput" class="custom-text-fileInput no-margin">
            <input id="fileInput" type="file" />
            <span class="fa fa-plus margin-right-normal"></span>{{ "v3.modules.targets.new.add_file" | translate | capitalize }}
          </label>
        </div>
        <div class="lmform-content">
          <div ng-show="wrongFileType">
            <div translate="v3.modules.targets.new.wrong_file_type" translate-values="{filetype: selectedFileType}" class="capitalize"></div>
            <div translate="v3.modules.targets.new.allowed_file_types" translate-values="{filetypes: allowedFiletypes}"class="capitalize"></div>
          </div>
          <div ng-repeat="file in tempFiles">
            <span class="red-highlight pointer" ng-click="removeFile(file)">
              <span class="fa fa-minus margin-right-normal"></span>{{ "v3.modules.targets.new.remove_file" | translate | capitalize }}
            </span>
            <span class="fa fa-file margin-right-normal"></span>{{ file.name }} ({{ file.size / 1000 / 1000 | number: 2}}mb)
          </div>
          <div ng-repeat="file in targetData.files">
            <span class="red-highlight pointer" ng-click="removeFile(file)">
              <span class="fa fa-minus margin-right-normal"></span>{{ "v3.modules.targets.new.remove_file" | translate | capitalize }}
            </span>
            <span class="fa fa-file margin-right-normal"></span>{{ file.name }} ({{ file.size / 1000 / 1000 | number: 2}}mb)
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <!-- Cancel button if a fromState exist -->
      <div class="col-md-offset-2 col-md-4 margin-vertical-larger-1" ng-if="returnString">
        <button type="button" class="button-bright-flat full-width padding-larger-2 margin-top-larger-1" ui-sref="{{ returnString }}">{{ "v3.shared.cancel" | translate | capitalize }}</button>
      </div>
      <!-- Cancel button if a fromState DOESN'T exist -->
      <div class="col-md-offset-2 col-md-4 margin-vertical-larger-1" ng-if="!returnString">
        <button type="button" class="button-bright-flat full-width padding-larger-2 margin-top-larger-1" ui-sref="targets.group({gid: group._id})">{{ "v3.shared.cancel" | translate | capitalize }}</button>
      </div>
      <!-- Submit/update button (depending on $stateParams.mode) -->
      <div class="col-md-4 margin-vertical-larger-1">
        <button type="submit" class="button-blue-flat full-width padding-larger-2 margin-top-larger-1" ng-disabled="posting">{{ "v3.shared.create" | translate | capitalize }}</button>
      </div>
    </div>
  </form>
</div>
<!-- <div ui-view="sidebar" ng-if="!loading" class="col-md-3 sidebar-wrapper" id="loop-sidebar"></div> -->
