<div ng-show="!loading" class="col-md-2 left-wrapper" id="group-left">
  <!-- saker och ting här -->
</div>
<div ng-show="!loading && !group.isMember" class="col-md-8 main-wrapper">
  <div ng-include="'common/partials/missingpermission.tpl.html'"></div>
</div>
<div ng-show="!loading && group.isMember" class="col-md-8 main-wrapper">

  <div ng-include="'common/partials/pageheader-oneTarget.tpl.html'"></div>

  <div class="lmpage-header-minimalistic">
    {{ "v3.modules.targets.summary" | translate | capitalize }}
  </div>

  <!-- IF TARGET: target details/summary -->
  <div class="lmpage-content" ng-if="target.is_target">
    <lm-spinner ng-show="loadingTarget"></lm-spinner>

    <span class="lmpage-text" ng-show="!loadingTarget">
      <div class="col-md-6 padding-normal">
        <!-- EDIT BUTTON: CAN_SEE_TARGET_OVERVIEW -->
        <a ng-if="group.my_role.can_see_target_overview" href ui-sref="targets.manageTarget({gid: group._id, tid: tid, mode: 'update', type: target.type_string, returnToCaller: true})" class="blue-highlight text-larger-1">
          <span class="fa fa-edit margin-right-normal"></span>{{ "v3.modules.targets.edit_target" | translate | capitalize }}
        </a>
        <!-- <div class="clearfix padding-normal"></div> -->
      </div>
      <div class="col-md-6 padding-normal">
        <!-- DELETE BUTTON: CAN_SEE_TARGET_OVERVIEW -->
        <a ng-if="group.my_role.can_see_target_overview" href ng-click="deleteTarget(tid)" class="red-highlight text-larger-1">
          <span class="lmicon-delete margin-right-normal"></span>{{ "v3.modules.targets.delete_target" | translate | capitalize }}
        </a>
      </div>
      <div class="col-md-6 padding-normal">
        <h4>{{ "v3.modules.targets.description" | translate | capitalize }}</h4>
        <span class="preserve-linebreaks padding-left-normal">{{ target.desc | capitalize }}</span>

        <!-- FILES -->
        <!-- <div class="text-smaller-1 text-bold" ng-if="target.files.length > 0">Filer</div> -->
        <h4>Filer</h4>
        <div class="text-smaller-1 margin-right-normal padding-left-normal" ng-repeat="file in target.files">
          <a href ng-click="downloadFile(file.path)">
            <span class="fa fa-download margin-right-normal"></span>{{ file.name }}
          </a>
        </div>

        <!-- PROGRESS: CAN_SEE_TARGET_OVERVIEW -->
        <h4 ng-if="group.my_role.can_see_target_overview">{{ "v3.modules.targets.group_reports" | translate | capitalize }}</h4>
        <lm-progress-simple ng-if="group.my_role.can_see_target_overview" identifier="'completed'" val="target.group_completed_count - target.group_pending_loops" max="target.group_count" label="'v3.modules.targets.approved' | translate | capitalize"></lm-progress-simple>
        <lm-progress-simple ng-if="target.needs_approval && group.my_role.can_see_target_overview" identifier="'awaiting'" val="target.group_pending_loops" max="target.group_count" label="'v3.modules.targets.pending' | translate | capitalize"></lm-progress-simple>
      </div>

      <!-- GROUP SUMMARY COMPLETED: CAN_SEE_TARGET_OVERVIEW -->
      <div class="col-md-6 padding-normal" ng-if="group.my_role.can_see_target_overview">
        <h4 class="margin-bottom-larger-3">{{ "v3.modules.targets.finished_all" | translate | capitalize }}</h4>
        <canvas class="pie-large" id="piechart" width="180" height="180"></canvas>
        <span>{{ target.members_finished_percentage }}</span>
      </div>
    </span>
  </div>

  <!-- IF TAG: tag details -->
  <div class="lmpage-content" ng-if="!target.is_target">
    <span class="lmpage-text" ng-show="!loadingTarget">
      <!-- EDIT BUTTON: CAN_SEE_TARGET_OVERVIEW -->
      <div class="col-md-12 padding-normal" ng-if="group.my_role.can_see_target_overview">
        <a href ui-sref="targets.manageTarget({gid: group._id, tid: tid, mode: 'edit', type: target.type_string, returnToCaller: true})" class="blue-highlight text-larger-1">
          <span class="fa fa-edit margin-right-normal"></span>{{ "v3.modules.targets.edit_tag" | translate | capitalize }}
        </a>
        <div class="clearfix padding-normal"></div>
        <!-- DELETE BUTTON: CAN_SEE_TARGET_OVERVIEW -->
        <a ng-if="group.my_role.can_see_target_overview" href ng-click="deleteTarget(tid)" class="red-highlight text-larger-1">
          <span class="lmicon-delete margin-right-normal"></span>{{ "v3.modules.targets.delete_tag" | translate | capitalize }}
        </a>
      </div>
      <div class="col-md-12 padding-normal">
        <lm-spinner ng-show="loadingTarget"></lm-spinner>
        <h4>{{ "v3.modules.targets.description" | translate | capitalize }}</h4>
        <div class="margin-bottom-larger-1">{{ target.desc | capitalize }}</div>
        <div class="text-center margin-top-larger-1" ng-class="{'col-md-6': (group.my_role.can_complete_target && group.my_role.can_see_target_overview) || (group.my_role.can_complete_target && !group.my_role.can_see_target_overview), 'col-md-12': group.type === 'hierarchial' && !group.my_role.can_complete_target}">
          {{ "v3.modules.targets.group_has_tagged" | translate | capitalize }}
          <div class="tag-usage-count text-larger-5">
            {{ target.group_completed_count || 0 }}
          </div>
          {{ "v3.modules.targets.with_this_tag" | translate }}
        </div>
        <div class="col-md-6 text-center margin-top-larger-1" ng-if="group.my_role.can_complete_target">
          {{ "v3.modules.targets.you_have_tagged" | translate | capitalize }}
          <div class="tag-usage-count text-larger-5">
            {{ target.my_completed_count || 0 }}
          </div>
          {{ "v3.modules.targets.with_this_tag" | translate }}
        </div>
      </div>
    </span>
    <div ng-if="group.my_role.can_see_target_overview" class="col-md-offset-4 col-md-4">
      <button class="capitalize button-bright-flat padding-larger-1 full-width" ui-sref="targets.one.allLoopsByTag()" translate="v3.modules.targets.show_all_loops_for_tag"></button>
    </div>
  </div>

  <div class="lmpage-header-minimalistic" ng-class="{'no-border': !target.is_target}" ng-if="group.my_role.can_see_target_overview">
    {{ "v3.modules.targets.members_progress" | translate | capitalize }}
  </div>
  <div class="lmpage-content" ng-if="group.my_role.can_see_target_overview">
    <lm-spinner ng-show="loadingProgress"></lm-spinner>
    <span class="lmpage-legend text-smaller-1 text-right margin-top-larger-1" ng-show="!loadingProgress" ng-if="target.is_target">
      <span class="total margin-right-normal"></span>{{ "v3.modules.targets.expected" | translate | capitalize}}
      <span class="completed margin-right-normal"></span>{{ "v3.modules.targets.approved" | translate | capitalize}}
      <span class="pending margin-right-normal"></span>{{ "v3.modules.targets.pending" | translate | capitalize}}
    </span>
    <div class="lmpage-clickable-list" ng-repeat="(uid, progress) in userProgress" ng-show="!loadingProgress">
      <div class="icon">
        <img class="profile-pic" ng-show="!progress.user.profile_pic_s3_temp" ng-src="{{ progress.user.profile_pic }}" />
        <img class="profile-pic" ng-show="progress.user.profile_pic_s3_temp" ng-src="{{ progress.user.profile_pic_s3_temp }}" />
      </div>
      <div class="content">
        <span class="text">
          <div class="user-info">
            {{ progress.name }}
            <br>
            <span class="text-smaller-1">{{ progress.email }}</span>
          </div>
          <div class="user-progress">
            <!-- <lm-progress-v2 ng-if="permissions.can_complete_target" id="target._id" total="target.my_count" completed="target.my_completed_count" pending="target.my_pending_loops"></lm-progress-v2> -->
            <lm-progress-v2 ng-if="target.is_target" id="uid" total="progress.expected_loop_count" completed="progress.completed_loops" pending="progress.pending_loops"></lm-progress-v2>
            <div ng-if="!target.is_target" class="text-smaller-1 margin-top-smaller-1">
              <span ng-if="progress.completed_loops === 0 || progress.completed_loops > 1"><span class="lmicon-loop margin-right-normal"></span>{{ progress.completed_loops }} {{ "v3.shared.reports" | translate }}</span>
              <span ng-if="progress.completed_loops === 1"><span class="lmicon-loop margin-right-normal"></span>{{ progress.completed_loops }} {{ "v3.shared.report" | translate }}</span>
            </div>
          </div>
        </span>
      </div>
      <div ng-if="progress.user_id !== 'anonymous'" class="right" ui-sref="targets.one.userReports({uid: uid})">
        <span class="lmicon-arrow-right icon text-larger-2"></span>
      </div>
      <div ng-if="progress.user_id === 'anonymous'" class="right" ui-sref="targets.one.anonymousReports()">
        <span class="lmicon-arrow-right icon text-larger-2"></span>
      </div>
    </div>
  </div>

  <!-- IF TARGET && CAN_COMPLETE_TARGET: My progress -->
  <div class="lmpage-header-minimalistic" ng-if="target.is_target && group.my_role.can_complete_target">
    {{ "v3.modules.targets.my_progress" | translate | capitalize }}
  </div>
  <div class="lmpage-content" ng-if="target.is_target && group.my_role.can_complete_target">
    <div class="lmpage-text">
      <div class="col-md-offset-2 col-md-8">
        <lm-progress-v2 id="1337" total="myProgress.expected_loop_count" completed="myProgress.completed_loops" pending="myProgress.pending_loops"></lm-progress-v2>
      </div>
    </div>
  </div>

  <!-- CAN_COMPLETE_TARGET: My reports -->
  <div class="lmpage-header-minimalistic" ng-if="group.my_role.can_complete_target">
    {{ "v3.modules.targets.my_reports" | translate | capitalize}}
  </div>
  <div class="lmpage-content" ng-if="group.my_role.can_complete_target">
    <span class="lmpage-text text-italic text-center full-width" ng-if="loops.length === 0">
      <span ng-if="target.is_target">{{ "v3.modules.targets.no_reporting" | translate | capitalize}}</span>
      <span ng-if="!target.is_target">{{ "v3.modules.targets.no_tagging" | translate | capitalize}}</span>
    </span>
    <lm-feed-entry class="entry-container" ng-repeat="entry in reports" entry="entry"></lm-feed-entry>
  </div>
</div>
<!-- <div ui-view="sidebar" ng-if="!loading" class="col-md-3 sidebar-wrapper" id="group-sidebar"></div> -->
