<div class="ngdialog-message padding-top-larger-2">
  {{ ("v3.modules.targets.confirm_delete_desc_" + target.type_string) | translate | capitalize }}
  <br><br>
  {{ ("v3.modules.targets.confirm_delete_" + target.type_string) | translate | capitalize }}
</div>
<div class="ngdialog-buttons">
  <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">{{ "v3.shared.no" | translate | capitalize }}</button>
  <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">{{ "v3.shared.yes" | translate | capitalize }}</button>
</div>
