.tag-usage-count {
  width: 200px;
  margin: 5px auto;
  border: @border;
  background-color: @color-tag-background;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

canvas.pie-large {
  padding: 0;
  margin: auto;
  display: block;
  width: 180px;

  &+span {
    padding: 0px;
    display: block;
    margin: auto;
    position: relative;
    width: 180px;
    margin-top: -180px;
    line-height: 180px;
    text-align: center;
    font-weight: bold;
    font-size: 52px;
    color: white;
    text-shadow:
     -1px -1px 0 @color-text,
      1px -1px 0 @color-text,
      -1px 1px 0 @color-text,
       1px 1px 0 @color-text;
  }
}
